<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.dao.YearsMapper">
    <select id="getAllYears" resultType="int">
        SELECT years_id FROM years;
    </select>
</mapper>