<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.dao.OutputMapper">
    <resultMap id="outputMap" type="Output">
        <result property="year" column="years_years_id"/>
        <result property="month" column="month_month_id"/>
        <result property="productId" column="output_product_id"/>
        <result property="productName" column="output_product_name"/>
        <result property="xiaDan" column="output_xiadan"/>
        <result property="muGong" column="output_mugong"/>
        <result property="youFang" column="output_youfang"/>
        <result property="baoZhuang" column="output_baozhuang"/>
        <result property="teDing" column="output_teding"/>
    </resultMap>

    <!-- 根据年月获取产值 -->
    <select id="getAll" resultMap="outputMap">
        SELECT
            years_years_id,
            month_month_id,
            output_product_id,
            output_product_name,
            output_xiadan,
            output_mugong,
            output_youfang,
            output_baozhuang,
            output_teding
        FROM output
        WHERE years_years_id = #{year} AND month_month_id = #{month};
    </select>

    <!-- 根据年月产品ID查找 -->
    <select id="getOne" parameterType="Output" resultType="Output">
        SELECT
            years_years_id,
            month_month_id,
            output_product_id,
            output_product_name,
            output_xiadan,
            output_mugong,
            output_youfang,
            output_baozhuang,
            output_teding
        FROM output
        WHERE years_years_id = #{year} AND month_month_id = #{month} AND output_product_id = #{productId};
    </select>

    <!-- 添加产品 -->
    <insert id="insertOne" parameterType="Output">
        INSERT INTO output (years_years_id, month_month_id, output_product_id, output_product_name)
        VALUES (#{year}, #{month}, #{productId}, #{productName});
    </insert>

    <!-- 错误信息修正 -->
    <update id="changeOutput" parameterType="Output">
        UPDATE output
        <set>
            <if test="xiaDan != 0">output_xiadan = #{xiaDan},</if>
            <if test="muGong != 0">output_mugong = #{muGong},</if>
            <if test="youFang != 0">output_youfang = #{youFang},</if>
            <if test="baoZhuang != 0">output_baozhuang = #{baoZhuang},</if>
            <if test="teDing != 0">output_teding = #{teDing}</if>
        </set>
        WHERE years_years_id = #{year} AND month_month_id = #{month} AND output_product_id = {productId} AND
        output_product_name = {productName};
    </update>

    <!-- 产值更新 -->
    <update id="updateOutput" parameterType="Output">
        UPDATE output
        <set>
            <if test="xiaDan != 0">output_xiadan = output_xiadan + #{xiaDan},</if>
            <if test="muGong != 0">output_mugong = output_mugong + #{muGong},</if>
            <if test="youFang != 0">output_youfang = output_youfang + #{youFang},</if>
            <if test="baoZhuang != 0">output_baozhuang = output_baozhuang + #{baoZhuang},</if>
            <if test="teDing != 0">output_teding = output_teding + #{teDing}</if>
        </set>
        WHERE years_years_id = #{year} AND month_month_id = #{month} AND output_product_id = {productId} AND
        output_product_name = {productName};
    </update>


</mapper>